In [3]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [95]:
file = 'ecs171train.npy'
testfile = 'ecs171test.npy'

In [98]:
def read_data(path, train = True):
    data = np.load(path) # ndarray
    if train:
        column_name = data[0].decode('UTF-8').strip().split(',')
        start = 1
    else:
        column_name = None
        start = 0
    
    data_list = []
    index_list = []
    for train in data[start:]:
        tmp = train.decode('UTF-8').split(',')
        index = int(tmp[0])
        tmp = tmp[1:]
        tmp = [np.nan if t == 'NA' else float(t) for t in tmp]
        data_list.append(tmp)
        index_list.append(index)
    return index_list, column_name, data_list
#     df = pd.DataFrame(data=data_list, columns=column_name, index = data_list[:, 0].astype(int))
#     return df

In [43]:
idx, col, data = read_data(file)

df = pd.DataFrame(data = data, columns = col[1:], index = idx)

df.head()

In [70]:
nunique = df.apply(pd.Series.nunique) # pandas.core.series.Series
drop_cols = nunique[nunique == 1].index # ['f33', 'f34', 'f35', 'f37', 'f38', 'f678', 'f700', 'f701', 'f702', 'f736', 'f764']
df.drop(drop_cols,axis=1,inplace=True) # feature # 770 -> 759

In [71]:
df.head()

,f1,f2,f3,f4,f5,f6,f7,f8,f9,f10,...,f770,f771,f772,f773,f774,f775,f776,f777,f778,loss
57339,129.0,9.0,0.244479,1300.0,16.0,83366.0,4598.0,4024.0,127.50,128.70,...,2.0,0.97,-0.67,0.47,0.0444,3.8046,1.0,0.0,394.0,2.0
16253,144.0,9.0,0.924478,3600.0,3.0,83292.0,623.0,822.0,144.46,144.36,...,8.0,0.91,-0.43,0.20,0.1589,-1.0681,1.0,1.0,67.0,0.0
44671,159.0,7.0,0.336656,5500.0,4.0,76635.0,3136.0,4014.0,152.50,157.83,...,17.0,6.19,-4.72,3.77,0.2959,0.6115,0.0,1.0,2.0,0.0
20253,117.0,8.0,0.969409,1300.0,4.0,79371.0,198.0,4892.0,118.25,117.29,...,2.0,0.06,-0.02,0.00,0.1199,-1.1551,1.0,0.0,46.0,0.0
101418,140.0,6.0,0.470937,2600.0,7.0,84020.0,NaN,8996.0,133.24,138.87,...,6.0,2.79,-2.09,1.62,0.1838,0.6018,0.0,0.0,2.0,0.0

In [76]:
nunique = df.apply(pd.Series.nunique) # pandas.core.series.Series
categorical_cols = nunique[nunique == 2].index # ['f33', 'f34', 'f35', 'f37', 'f38', 'f678', 'f700', 'f701', 'f702', 'f736', 'f764']
categorical_cols # ['f776', 'f777']

Index(['f776', 'f777'], dtype='object')

In [83]:
X = df.iloc[:, :-1].values
y = df.iloc[:, -1].values

In [88]:
from sklearn.preprocessing import Imputer
imp = Imputer(missing_values=np.nan , strategy='mean', axis=0)
X = imp.fit_transform(X)

In [89]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 0)
len(X_train)

37500

In [90]:
X_train.shape

(37500, 758)

In [100]:
idxt, _ , datat = read_data(testfile, train = False)

dft = pd.DataFrame(data = datat, columns = col[1:-1], index = idxt)

dft.head()

,f1,f2,f3,f4,f5,f6,f7,f8,f9,f10,...,f769,f770,f771,f772,f773,f774,f775,f776,f777,f778
99935,122.0,8.0,0.269669,1100.0,7.0,81629.0,1842.0,3894.0,119.43,121.64,...,-11.48,23.0,7.71,-5.70,4.41,0.2934,0.5995,0.0,0.0,22.0
93549,114.0,10.0,0.721454,1500.0,4.0,79782.0,9774.0,2180.0,121.50,115.50,...,-0.20,3.0,0.04,-0.01,0.00,0.0943,-1.1450,0.0,0.0,7.0
93212,138.0,9.0,0.681984,1800.0,4.0,81149.0,2365.0,3064.0,134.39,137.64,...,-12.39,21.0,8.54,-6.23,4.70,0.2420,0.9558,0.0,0.0,23.0
20496,129.0,8.0,0.216299,1300.0,7.0,13699.0,7477.0,5247.0,125.75,128.23,...,-1.88,3.0,1.33,-1.02,0.84,0.2250,0.4768,1.0,0.0,23.0
55762,127.0,6.0,0.379956,2200.0,16.0,2456.0,2736.0,635.0,127.28,127.00,...,-11.17,19.0,8.13,-6.44,5.29,0.2868,0.7344,0.0,0.0,393.0

In [101]:
dft.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 55471 entries, 99935 to 64130
Columns: 769 entries, f1 to f778
dtypes: float64(769)
memory usage: 325.9 MB