In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [10]:
filename = 'ecs171train.npy'

In [42]:
def read_data(path):
    data = np.load(path) # ndarray
    column_name = data[0].decode('UTF-8').strip().split(',')
    data_list = []
    index_list = []
    for train in data[1:]:
        tmp = train.decode('UTF-8').split(',')
        index = int(tmp[0])
        tmp = tmp[1:]
        tmp = [np.nan if t == 'NA' else float(t) for t in tmp]
        data_list.append(tmp)
        index_list.append(index)
    return index_list, column_name, data_list
#     df = pd.DataFrame(data=data_list, columns=column_name, index = data_list[:, 0].astype(int))
#     return df

In [43]:
idx, col, data = read_data(filename)

In [48]:
df = pd.DataFrame(data = data, columns = col[1:], index = idx)

In [52]:
df.head()

,f1,f2,f3,f4,f5,f6,f7,f8,f9,f10,...,f770,f771,f772,f773,f774,f775,f776,f777,f778,loss
57339,129.0,9.0,0.244479,1300.0,16.0,83366.0,4598.0,4024.0,127.50,128.70,...,2.0,0.97,-0.67,0.47,0.0444,3.8046,1.0,0.0,394.0,2.0
16253,144.0,9.0,0.924478,3600.0,3.0,83292.0,623.0,822.0,144.46,144.36,...,8.0,0.91,-0.43,0.20,0.1589,-1.0681,1.0,1.0,67.0,0.0
44671,159.0,7.0,0.336656,5500.0,4.0,76635.0,3136.0,4014.0,152.50,157.83,...,17.0,6.19,-4.72,3.77,0.2959,0.6115,0.0,1.0,2.0,0.0
20253,117.0,8.0,0.969409,1300.0,4.0,79371.0,198.0,4892.0,118.25,117.29,...,2.0,0.06,-0.02,0.00,0.1199,-1.1551,1.0,0.0,46.0,0.0
101418,140.0,6.0,0.470937,2600.0,7.0,84020.0,NaN,8996.0,133.24,138.87,...,6.0,2.79,-2.09,1.62,0.1838,0.6018,0.0,0.0,2.0,0.0

In [54]:
X = df.iloc[:, :-1].values
y = df.iloc[:, -1].values
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 0)
len(X_train)

37500

In [70]:
nunique = df.apply(pd.Series.nunique) # pandas.core.series.Series
drop_cols = nunique[nunique == 1].index # ['f33', 'f34', 'f35', 'f37', 'f38', 'f678', 'f700', 'f701', 'f702', 'f736', 'f764']
df.drop(drop_cols,axis=1,inplace=True) # feature # 770 -> 759

In [71]:
df.head()

,f1,f2,f3,f4,f5,f6,f7,f8,f9,f10,...,f770,f771,f772,f773,f774,f775,f776,f777,f778,loss
57339,129.0,9.0,0.244479,1300.0,16.0,83366.0,4598.0,4024.0,127.50,128.70,...,2.0,0.97,-0.67,0.47,0.0444,3.8046,1.0,0.0,394.0,2.0
16253,144.0,9.0,0.924478,3600.0,3.0,83292.0,623.0,822.0,144.46,144.36,...,8.0,0.91,-0.43,0.20,0.1589,-1.0681,1.0,1.0,67.0,0.0
44671,159.0,7.0,0.336656,5500.0,4.0,76635.0,3136.0,4014.0,152.50,157.83,...,17.0,6.19,-4.72,3.77,0.2959,0.6115,0.0,1.0,2.0,0.0
20253,117.0,8.0,0.969409,1300.0,4.0,79371.0,198.0,4892.0,118.25,117.29,...,2.0,0.06,-0.02,0.00,0.1199,-1.1551,1.0,0.0,46.0,0.0
101418,140.0,6.0,0.470937,2600.0,7.0,84020.0,NaN,8996.0,133.24,138.87,...,6.0,2.79,-2.09,1.62,0.1838,0.6018,0.0,0.0,2.0,0.0